<section class="section-block prose-block">
  <% theme.policies.forEach((policy) => { %>
    <article class="policy-block">
      <h2><%= policy.title %></h2>
      <p><%= policy.text %></p>
    </article>
  <% }) %>
</section>
