<section class="page-intro">
  <div class="eyebrow">Tag Archive</div>
  <h1 class="page-title"><%= page.tag %></h1>
</section>
<div class="article-list">
  <% page.posts.toArray().forEach((post) => { %>
    <%- partial('partials/article-list-item', { post }) %>
  <% }) %>
</div>
