<% if (Array.isArray(post.affiliations) && post.affiliations.length) { %>
  <ul class="affiliation-list">
    <% post.affiliations.forEach((affiliation) => { %>
      <li><%= affiliation.name || affiliation %></li>
    <% }) %>
  </ul>
<% } %>
